.main{
    background: url(/../assets/image/bookingbg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.card{
    margin-top: 30px;
}