<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">MusicRoom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn btn-link my-2 my-sm-0"  type="submit"(click)='homeadmin()'>Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link my-2 my-sm-0"  type="submit"(click)='showbooking()'>Booking information</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link my-2 my-sm-0"  type="submit"(click)='search()'>Search</button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"(click)='logout()'>Log Out</button>
        </form>
    </div>
</nav>

<section class="main">
    <div class="cover">
        <h1 class="text-white">Search your customers.</h1>
        <form class="form-group">
            <input type="search" name="search" placeholder="Enter username!">
            <input type="submit" name="submit" value="Search">
        </form>
        <br />
        <div class="table-reponsive-md ">
            <table class="table table-striped table-inverse">
                <thead class="thead-inverse text-white">
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>