<div class="container p-3 my-1 bg-dark text-white" style="margin-top:50px">
   <h3>Rule MusicRoom</h3>
   <br>
   <div class="row">
       <div class="col-md-10">
                  1.ห้ามนำอาหารเข้ามารับประทานให้ห้องซ้อม <br>
                  2.ห้ามนำสัตว์เลี้ยงเข้ามาในห้องซ้อม <br>
                  3.ห้ามมีผู้เล่นในห้องซ้อมเกิน 8 คน<br>
                  4.ห้ามนำเครื่องดนตรีออกจากห้องซ้อมเด็ดขาด<br>
                  5.ถ้าพบว่ามีอุปกรณ์เสียหายต้องเสียค่าปรับให้กับห้องซ้อม</div>
       <div class="col-md-6">
           
   </div>
</div>