<section class="main">
  <div class="container">
    <div class="cover">
      <h1 class="text-white" stype="text-align: center">MusicRoom</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="width: 18rem;">
            <img src="/../assets/image/member.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Customer</h5>

              <button type="button" class="btn btn-success" style="margin-left: 55px"(click)='loginmember()' >Register Now</button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" style="width: 18rem;">
            <img src="/../assets/image/emp.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Employee</h5>
              <button type="button" class="btn btn-success" style="margin-left: 55px"(click)='loginadmin()' >Register Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>